rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAllowedUser() {
      return request.auth != null && (
        request.auth.token.email == 'junsun8k@gmail.com' ||
        request.auth.token.email == 'fings0517@gmail.com'
      );
    }
    match /shared/{docId}/{document=**} {
      allow read, write: if isAllowedUser();
    }
  }
}
